/* common */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box  ;
    
}
html{
    font-family: helvetica, arial, sans-serif;
    scroll-behavior: smooth;
}
/* tổng quan
1,làm từ ngoài vao trong 
2,từ trên xuống dưới
3,từ tổng quan đến chi tiết */

/*từng phần vd main,header...
1. vị trí
2. kích thước(width,height)
3. màu sắt
4. kiểu dáng(kiễu chữ, hình,..) */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.place-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 15px;
    display: inline-block;
    margin-top: 15px;
    appearance: none;
    -webkit-appearance: none;
}
.pull-right{
    float: right;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.mt-32{
    margin-top: 32px !important;

}
.row{
    margin-right: -8px;
    margin-left: -8px;
}
.row:after{
    content:"";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.3333%;
}
.text-center{
    text-align: center;
}
/* main */
#main{
    
}
#header{
    height:46.5px;
    background-color: #000;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
}
#nav .subnav{
    list-style-type: none;
    position: absolute;
}
#nav{
    display: inline-block;
}
#nav >li{
    display: inline-block;

}
#nav li{
    position: relative;
}


#nav >li >a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none; 
    line-height: 46.5px;
    padding:0 24px;
    display: block;   
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover,
#nav >li:hover > a{
    color: #000;
    background-color:#ccc;
}

#nav .subnav{
    display:none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}
#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
   
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
   position: relative;
   margin-top: 46.5px;
   padding-top:50%;
   background: url('../img/slider/slider1.jpg') 
   top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 400;
    font-size:24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top:25px;
    text-shadow: 0 0 1px #000;
}
#content{

}
#content .content-section{
    width:800px;
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding: 64px 16px 112px;
}
#content .section-heading{
    font-size: 30px;
    text-align:center;
    font-weight:400;
    letter-spacing:4px;
    margin: 10px 0;
}
#content .section-sub-heading{
    font-size:15px;
    font-style:italic;
    text-align:center;
    opacity: 0.6;
    margin: 15px;
}
#content .abour-text{
    margin:15px 0;
    font-size:15px;
    text-align: justify;
    line-height:22.5px;
}
#content .member-list{
    margin-top: 31px;
}
/* #content .member-item{
    float:left;
    width: 33.333%;
    text-align: center;
} */
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius:4px;
}
.contact-info a{
    opacity: 0.7;
    color: #101af1;
}
.contact-info a:hover{
    opacity: 1;
}

/* tour section */
.tour-section{
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    margin-left: 16px;
}
.tickets-list .quantity{
    float: right;
    width: 25px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* place */
.places-list{
    /* margin: 32px -8px 48px; tach */
    margin-top: 16px;
    /* margin-bottom: 48px; cach day 48 co 3 phan nhu nhau */
}

.place-img{
    width:100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 15px;  
}
.place-time{
    margin-top: 15px;
    color:#757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-btn:hover{
    color: #000;
    background-color: #ccc
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc( 100% - 32px);
    height: 473px;
    position: relative;
    animation: modalFadeIn ease 0.3s;
}
.modal-header{
    color: #fff;
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
.cachicon{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px 15px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    color: #000;
    background-color: #ccc;
}
.modal-body{
    padding: 16px;
    
}
.modal-label{
    font-size: 15px;
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 15px;
    font-family: "Lato", sans-serif;
    color: #000;
}
.modal-input{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
    font-size:15px;
}
#buy-tickets{
    color: #fff;
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin: 16px 0;
    padding: 19px 0;
    cursor: pointer;
}
#buy-tickets:hover {
    color: #000;
    background-color: #ccc;
}
.modal-footer {
    padding: 16px;
    text-align: right;
    margin-top: -15px;
}
.modal-footer a{
    color: #2196F3;

}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
/* contact */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.half contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

  /* img */
.map-section img{
    width: 100%;
}

/* footer section */
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;

}
#footer .social-list a{ 
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover{ 
    color: rgba(0, 0, 0, 0.3);

}
#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

