
                      /* pc low */
@media (min-width: 1024px) and (max-width: 1239px) {
    .comic-nominate__item {
        width: 184px;
    }
    .comic-list__container{
        width: 646px;
    }
    .keyword-list{
        width: 100%;
    }
  
}
                        /* tablet -> pc low */
@media (min-width: 740px) and (max-width: 1023px) {
    .body-content {
        flex-wrap: wrap;
    }
    .comic-nominate__item {
        width: 188px;
    }
    .log-sign {
        padding-left: 21px;
    }
    .grid.wide {
        width: 100%;
    }
    .header-search {
        width: 325px;
    }
    .genre-list >a {
        padding: 0 15px 0 25px;
    }
    .notablet{
        display: none;;
    }
    .genre-container {
        z-index: 2;
        transform: translateX(-155px);
    }
    .rank:hover .rank-container {
        transform: translateX(-160px);
    }
    .genre-list,
    .rank-row >ul{
        flex:1
    }
    .comic-list {
        flex: 1;
        max-width: 100%;
    }
    .contact {
        width: 268px;
    }
    .introduce {
        margin-left: 0;
    }

}
                    /* mobilet */
@media (max-width: 739px){
    .body {
        padding: 15px 12px;
    }
    .body-content {
        flex-wrap: wrap;
    }
    .nav,
    .log-sign,
    .header-search{
        display: none;
    }
    .header-in {
        height: 100%;
        padding: 0 8px;
        width: 248px;
        float: left;
    }
    .comic-nominate__item {
        width: 204px;
    }
    .comic-list__page {
        padding: 28px 0;
    }
    .page-list {
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 100%;
    }
    .footer-content {
        flex-wrap: wrap;
    }
    .contact {
        padding: 5px;
    }
    .introduce {
        margin-left: 0;
    }
    .footer-content {
        padding: 17px 12px;
    }
    .keyword-list {
        width: 95%;
    }
}