  
  /* mobile and tablet */
@media (max-width: 1023px){
    :root{
        --navbar-height:0;
        --header-height:68px;
    }
    .grid__column-10{
       flex: 1;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header{
        position: fixed;
        z-index: 5;
        width: 100%;
        top: 0;
    }
    .header__cart-list-item {
        height: 25vh;
    }
    .app__container{
        margin-top: var(--header-height);
    }
    .header__cart-list{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px)/2);
    }
    .header__cart-list::after{
        display: none;
    }
    .footer__download-apps {
        display: flex;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .top16px{
        margin-top: 16px;
    }
    .hide-on-tablet{
        display: none;
    }
    .header__cart{
        width: 80px;
        text-align: right;
    }
    .header {
        display: flex;
        align-items: center;
    }
}

   /* mobile and tablet */
@media(max-width: 739px){
    .hide-on-mobile{
        display: none;
    }
    .pagination-item {
        margin: 0;
    }
}