
@media (max-width: 1199px){
  .navbar{
    position: relative;
    padding: 0 32px;
  }
.collapse{
    background: #000000;
    position: absolute;
    top: 81px;
    left: 0;
    max-width: 676px;
    width: 100%;
    z-index: 2;
  }
  .navbar-nav{
    margin-left: 21px;
    margin-right: 37px;
  }
  .icondown{
    display: block;
    color: #fff;
  }
  .nav-item span{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item a{
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0;
  }
  .list-group{
    position: revert;
    padding-top: 0;
    left: -13px;
    margin-top: -15px;
  }
  .nav-item:hover .list-group{
    display: none;
  }
  .visible{
    display: block !important;
  }
  a.list-group-item{
    padding: 12px 0;
    font-size: 14px;
  }
}
@media (min-width: 740px) and (max-width: 1000px){
  .box{
    max-width: 735px;
    width: 100%;
  }
  .event{
    height: 372px;
  }
}
@media(max-width: 739px){
  .box{
    max-width: 370px;
    width: 100%;
  }
}